/public/*
!/public
/public/dobrevit.rsa.pub
/build/v3.7/*-behat/
/build/dobrevit.rsa.priv
/build/*/*/pkg
/build/*/*/src
/build/*/*/tmp
/.docker/abuild/home/packager/.abuild/dobrevit.rsa.priv
/log/*
!/log/.gitkeep
**/.build.*
.cache/